<mat-card>
    <mat-card-header>
        <mat-card-title>Director: {{ data.Name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Bio: {{ data.Bio }}</p>
        <p>Birth: {{ data.birthDate }}</p>
        <p *ngIf="data.deathDate">Death: {{ data.deathDate }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            color="primary"
            (click)="closeDialog()"
        >
            Close
        </button>
    </mat-card-actions>
</mat-card>