<!-- src/app/movie-card/movie-card.component.html -->
<div>
    <mat-card *ngFor="let movie of movies">
        <mat-dialog-content>
            <div>
                <mat-card-title>{{ movie.Title }}</mat-card-title>
                <img [src]="movie.ImagePath">
                <div>
                    <button
                        mat-raised-button
                        (click)="openGenreDialog(movie.Genre.Name,movie.Genre.Description)"
                        >
                    Genre
                    </button>
                    <button
                        mat-raised-button
                        (click)="openDirectorDialog(movie.Director.Name,movie.Director.Bio,movie.Director.birthDate,movie.Director.deathDate)"
                        >
                    Director
                    </button>
                    <button
                    mat-raised-button
                    (click)="openMovieDialog(movie.Description)"
                    >
                    Movie Info
                    </button>
                    <button
                        (click)="isFav(movie._id)? deleteFavMovie(movie._id) : addFavMovie(movie._id)">
                        <mat-icon>
                            {{ isFav(movie._id) ? 'favorite' : 'favorite_border' }}
                        </mat-icon>
                    </button>
                </div>
            </div>
        </mat-dialog-content>
    </mat-card>
</div>