<app-navbar></app-navbar>
<div>
    <h1>Your Profile</h1>
    <div>
        <label>Name: </label>
        <span>{{ userData.username }}</span>
    </div>
    <div>
        <label>Birthday: </label>
        <span>{{ userData.birthDate }}</span>
    </div>
    <div>
        <label>Email: </label>
        <span>{{ userData.email }}</span>
    </div>
    <div>
        <h2>Update Your Profile</h2>
        <form>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input name="name" matInput type="text" [(ngModel)]="formUserData.username" placeholder="Name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birthdate</mat-label>
                <input name="birthdate" matInput type="date" [(ngModel)]="formUserData.birthDate" placeholder="Birthdate" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input name="email" matInput type="email" [(ngModel)]="formUserData.email" placeholder="Email" />
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="editUser()"
                >
                    Submit
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteUser()"
                >
                    Delete User
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="user.favoriteMovies.length > 0">
        <h2>Your Favorite Movies</h2>
        <div>
            <app-movie-card [isFromFav]="true"></app-movie-card>
        </div>
    </div>
</div>