<app-navbar></app-navbar>
<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{userData.Username}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Email: {{userData.Email}}</p>
            <p>Birthdate: {{userData.Birthdate}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Update Your Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-label>Username</mat-label>
                <mat-form-field>
                    <input 
                        name="Username"
                        matInput
                        type="text"
                        [(ngModel)]="userData.Username"
                        placeholder="Username"
                    />
                </mat-form-field>
                <mat-label>Birthdate</mat-label>
                <mat-form-field>
                    <input 
                        name="birthdate"
                        matInput
                        type="date"
                        [(ngModel)]="userData.BirthDate"
                        placeholder="Birthdate"
                    />
                </mat-form-field>
                <mat-label>Email</mat-label>
                <mat-form-field>
                    <input
                        name="email"
                        matInput
                        type="email"
                        [(ngModel)]="userData.Email"
                        placeholder="Email"
                    />
                </mat-form-field>
            </form>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        (click)="editUser()"
                    >
                        Submit
                    </button>
                    <button
                        mat-raised-button
                        color="warn"
                        (click)="deleteUser()"
                    >
                        Delete User
                    </button>
                </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <div *ngIf="user.favoriteMovies.length > 0">
        <h2>Your Favorite Movies</h2>
        <div>
            <app-movie-card [isFromFav]="true"></app-movie-card>
        </div>
    </div>
</div>
